<div class="panel panel-primary">
  <div class="panel-heading">Cadastrar Contrato</div>
  <div class="panel-body">
    <%= simple_form_for @contract do |f| %>
      <%= f.association :customer, label: 'Cliente' %>
      <%= f.input :delivery_address, label: 'Endereço de Entrega: ' %>
      <%= f.input :rental_period, label: 'Prazo de Locação: ' %>
      <%= f.input :total_amount, label: 'Valor Total' %>
      <%= f.input :discount, label: 'Desconto: ' %>
      <%= f.association :equipment, as: :check_boxes, label_method: 
      :full_description, collection: Equipment.all, label: 'Equipamentos: ' %>
      <%= f.input :contact, label: 'Responsável: ' %>
      <%= f.submit 'Criar Contrato', class: 'btn btn-primary' %>
      <button type="button" class="btn btn-default">
        <%= link_to 'Voltar', contracts_path%>
      </button>
    <% end %>    
  </div>
</div>