<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Código: <%= @customer.id %></h3>
	</div>
	<div class="panel-body">
		<h2><%= @customer.name %></h2>
		<h4>Tipo: <%= @customer.customer_type%></h4>
  	<h4>CPF/CNPJ: <%= @customer.document %></h4>
  	<h4>Inscrição Estadual: <%= @customer.fiscal_number %></h4>
  	<h4>Razão Social: <%= @customer.legal_name %></h4>
  	<h4>Contato Cobrança: <%= @customer.contact_name %></h4>
  	<h4>Telefone: <%= @customer.phone_number %></h4>
  	<h4>Email: <%= @customer.email %></h4>
  	<h4>Endereço: <%= @customer.address %></h4>
  	<button type="button" class="btn btn-default">
        <%= link_to 'Editar', customers_path%>
    </button>
  	<button type="button" class="btn btn-default">
        <%= link_to 'Voltar', customers_path%>
    </button>
	</div>
</div>